body {
  background-color: #b5d8ee;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 100vh;
}

.left-panel {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.logo-title {
  text-align: center;
  margin-bottom: 30px;
}

.logo {
  width: 60px;
  height: auto;
  display: block;
  margin: 0 auto 10px;
}

h1 {
  font-size: 60px; /* plus grand */
  color: rgb(4, 4, 10);
  margin: 0;
}


.buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 70%;
  align-items: center;
  margin-top: 30px;
}

button {
  background-color: grey;
  color: rgb(4, 4, 10);
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

.right-panel {
  width: 50%;
  height: 100%;
}

.main-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.informations-background {
  background-image: url("imageCANAP.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.information-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #b5d8ee;
  padding: 40px;
  font-family: Arial, sans-serif;
}

.information-header {
  text-align: center;
  margin-bottom: 40px;
}

.information-header h1 {
  font-size: 36px;
  margin: 10px 0;
}

.information-header p {
  font-size: 20px;
  font-weight: bold;
}

.roles-section {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 1200px;
  margin-top: 30px;
}

.role {
  width: 45%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.role h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.step {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.step img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-right: 15px;
  border-radius: 8px;
}

.step p {
  font-size: 16px;
  margin: 0;
}

